.layout__header {
  padding: 0;
}

.layout__header_content_wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

.layout__header_logo, .layout__header_logo_icon {
  float: left;
  margin-top: -3px;
}

.layout__header_logo_icon {
  width: 50px;
}

.layout__header_logo {
  width: 110px;
}

.layout__header_title {
  color: white;
  height: 64px;
}

.layout__header_extra {
  float: right;
}

.layout__content_wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}
