.welcome_screen {
  height: 100%;
}

.welcome_screen__session_list_row .session_list {
  margin-bottom: 16px;
}

.welcome_screen__form_row {
  margin: -8px;
}

.welcome_screen__form_col {
  padding: 8px;
}
